.custom-btn {
    width: 210px;
    color: #C92127;
    background-color: #fff;
    border: 2px solid #C92127;
    font-size: 14px;
    font-weight: 700;
}
.custom-btn:hover {
    background-color: #fff;
    color: #C92127;
    border: 2px solid #C92127;
}