.sold-progress {
    position: relative;
    background-color: #f2c7c7;
    border-radius: 12px;
    height: 17px;
    width: 90%;
    overflow: hidden;
    }

.progress-bar {
    height: 100%;
    background-color: var(--primary);
    border-radius: 12px 0 0 12px;
    transition: width 0.3s ease;
}

.sold-progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}