.search-box input{
    border: none;
}

.search-box input:focus{
    outline: none;
}

.side-bar-active {
    background-color: #eeeeee;
}

#type_input {
    border: none;
}

#type_input:focus {
    outline: none;
}