* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.search-box input{
    border: none;
}

.search-box input:focus{
    outline: none;
}

.side-bar-active {
    background-color: #eeeeee;
}

#type_input {
    border: none;
}

#type_input:focus {
    outline: none;
}