body {
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: black;
}

:root {
	--white : #fff;
    --primary: #C92127;
    --secondary: #B70909;
    --third: #FF6C6B;
    --fourth: #FCDDEF;
    --greyD: #646464;
}

.text-xs {
    font-size: 12px;
}
.text-s {
    font-size: 13px;
}
.text-m {
    font-size: 14px;
}
.text-l {
    font-size: 16px;
}

/* Toast */
.custom-toast.success::before,
.custom-btn#success {
    background: var(--success);
}
.custom-toast.error::before,
.custom-btn#error {
    background: var(--error);
}
.custom-toast.warning::before,
.custom-btn#warning {
    background: var(--warning);
}
.custom-toast.info::before,
.custom-btn#info {
    background: var(--info);
}
.custom-toast .custom-column i {
    font-size: 1.75rem;
}
.custom-toast.success .custom-column i {
    color: var(--success);
}
.custom-toast.error .custom-column i {
    color: var(--error);
}
.custom-toast.warning .custom-column i {
    color: var(--warning);
}
.custom-toast.info .custom-column i {
    color: var(--info);
}
.custom-toast .custom-column span {
    font-size: 1.07rem;
    margin-left: 12px;
}
.custom-toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}
.custom-toast i:last-child:hover {
    color: var(--dark);
}
.custom-buttons .custom-btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}